{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}
{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper">
    <nav class="pagination">
      <ul class="pagination__list" role="list">
        {%- if paginate.previous -%}
          <li>
            <a href="#" class="pagination__arrow pagination__arrow--prev">
              <span class="svg-wrapper">
                {{- 'icon-carrot.svg' | inline_asset_content -}}
              </span>
            </a>
          </li>
        {%- endif -%}
        {%- for part in paginate.parts -%}
          <li>
            {%- if part.is_link -%}
              <a
                href="{{ part.url }}{{ anchor }}"
                class="pagination__item"
              >
                <span>{{ part.title }}</span>
              </a>
            {%- else -%}
              {%- if part.title == paginate.current_page -%}
                <a
                  class="pagination__item pagination__item--active"
                  aria-disabled="true"
                  aria-current="page"
                  role="link"
                >
                  <span>{{ part.title }}</span>
                </a>
              {%- else -%}
                <span class="pagination__item">{{ part.title }}</span>
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endfor -%}
        {%- if paginate.next -%}
          <li>
            <a
              href="{{ paginate.next.url }}{{ anchor }}"
              class="pagination__arrow pagination__arrow--next"
            >
              <span class="svg-wrapper">
                {{- 'icon-carrot.svg' | inline_asset_content -}}
              </span>
            </a>
          </li>
        {%- endif -%}
        {%- if paginate.current_page != paginate.pages -%}
          <li>
            <a
              href="{{ paginate.parts | last | map: 'url' | first }}{{ anchor }}"
              class="pagination__item pagination__item--last"
            >
              <span class="svg-wrapper">
                {{- 'icon-double-arrow.svg' | inline_asset_content -}}
              </span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}
