<media-gallery>
  {% case gallery_layout %}
    {% when 'thumbnail_slider' %}
      <div class="swiper-group-wrapper {{ gallery_layout }} {% if desktop_thumbnail_carousel_position_class %}{{ desktop_thumbnail_carousel_position_class }}{% endif %}">
        <div
          class="product-swiper product-swiper--support swiper"
          data-thumbnail-position="{{ section.settings.desktop_thumbnail_carousel_position }}"
        >
          <div class="swiper-wrapper">
            {% for product_image in product_images %}
              <div class="product-swiper__slide swiper-slide" data-slide="{{ forloop.index }}">
                <img
                  src="{{ product_image | img_url: 'master' }}"
                  alt="{{ product.title }}"
                  width="237"
                  height="262"
                >
              </div>
            {% endfor %}
          </div>
          <button class="slider-controller slider-controller__next-button">
            <span class="svg-wrapper">
              {{ 'icon-down-arrow.svg' | inline_asset_content }}
            </span>
          </button>
        </div>
        <div class="product-swiper product-swiper--main swiper">
          <div class="swiper-wrapper">
            {% for product_image in product_images %}
              <div class="product-swiper__slide swiper-slide" data-slide="{{ forloop.index }}">
                <img
                  src="{{ product_image | img_url: 'master' }}"
                  alt="{{ product.title }}"
                  width="748"
                  height="610"
                >
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>
          <div class="slider-controller slider-controller__prev-button">
            <span class="svg-wrapper">
              {{ 'product-slider-section-prev.svg' | inline_asset_content }}
            </span>
          </div>
          <div class="slider-controller slider-controller__next-button">
            <span class="svg-wrapper">
              {{ 'product-slider-section-next.svg' | inline_asset_content }}
            </span>
          </div>
        </div>
      </div>
    {% when 'stacked' %}
      <div class="product-media-grid">
        {% for product_image in product_images %}
          {% if forloop.index == 1 %}
            {% assign grid_type = 'single' %}
          {% else %}
            {% assign grid_type = 'double' %}
          {% endif %}
          <div class="product-media-grid-img product-media-grid-img--{{ grid_type }}" data-slide="{{ forloop.index }}">
            <img
              src="{{ product_image | img_url: 'master' }}"
              alt="{{ product.title }}"
              width="237"
              height="262"
            >
          </div>
        {% endfor %}
      </div>
    {% when 'columns' %}
      {# Add columns layout HTML here #}

    {% when 'thumbnails' %}
      {# Add thumbnails layout HTML here #}
  {% endcase %}
</media-gallery>
