{% comment %}
  Renders a quantity input with plus/minus buttons and stock display.

  Accepts:
  - product: {Object} Product object.
  - total_inventory: {Number} Total inventory for selected variant or product.
  - section: {Object} Section object, used for section.id reference.
  - product_form_id: {String} ID of the product form this input is tied to.

  Usage:
  {% render 'quantity-input',
    product: product,
    total_inventory: total_inventory,
    section: section,
    product_form_id: product_form_id
  %}
{% endcomment %}

<div class="quantity-wrapper">
  <quantity-input
    class="quantity {% if total_inventory == 0 %}out{% endif %}"
    data-url="{{ product.url }}"
    data-section="{{ section.id }}"
    data-stock="{{ total_inventory }}"
  >
    <button class="quantity__button" name="minus" type="button">
      <span class="visually-hidden">
        {{ product.title | escape }}
      </span>
      <span class="svg-wrapper">
        {{- 'icon-minus.svg' | inline_asset_content -}}
      </span>
    </button>
    <input
      class="quantity__input {% if total_inventory == 0 %}out{% endif %}"
      type="number"
      name="quantity"
      id="Quantity-{{ section.id }}"
      data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
      min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
      {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
        data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
        max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
      {% endif %}
      step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
      value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
      form="{{ product_form_id }}"
    >
    <button class="quantity__button" name="plus" type="button">
      <span class="visually-hidden">
        {{ product.title | escape }}
      </span>
      <span class="svg-wrapper">
        {{- 'icon-plus.svg' | inline_asset_content -}}
      </span>
    </button>
  </quantity-input>
  <div class="stock">
    {% if total_inventory > 0 %}
      <p class="in">In Stock</p>
      <span class="sep"></span>
      <p>{{ total_inventory }} Available</p>
    {% else %}
      <p class="out">Out of Stock</p>
    {% endif %}
  </div>
</div>
