<html>
  <head>
    <link href="{{ 'bootstrap.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    {{ content_for_header }}
  </head>
  <body>
    {% sections 'header-group' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
    <div class="global--overlay" data-drawer="overlay"></div>
    <script src="{{ 'jquery.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'bootstrap-lightbox.bundle.min.js' | asset_url }}" defer></script>
  </body>
</html>
