{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<section
  class="main-product-wrapper section-{{ section.id }} section-{{ section.id }}-padding"
  id="{{section.id}}"
>
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  {% for variant in product.variants %}
    {% assign total_inventory = total_inventory | plus: variant.inventory_quantity %}
  {% endfor %}

  {% assign variant_images = product.images | map: 'src' %}

  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="swiper-group-wrapper">
            <div class="product-swiper product-swiper--support swiper">
              <div class="swiper-button-prev"></div>
              <div class="swiper-wrapper">
                {% for product_image in variant_images %}
                  {% assign slide_count = forloop.index %}
                  <div class="product-swiper__slide swiper-slide" data-slide="{{ slide_count }}">
                    <img
                      src="{{ product_image | img_url: 'master' }}"
                      alt="{{ product.title }}"
                      width="237"
                      height="262"
                    >
                  </div>
                {% endfor %}
              </div>
              <div class="swiper-button-next"></div>
            </div>
            <div class="product-swiper product-swiper--main swiper">
              <div class="swiper-wrapper">
                {% for product_image in variant_images %}
                  {% assign slide_count = forloop.index %}
                  <div class="product-swiper__slide swiper-slide" data-slide="{{ slide_count }}">
                    <img
                      src="{{ product_image | img_url: 'master' }}"
                      alt="{{ product.title }}"
                      width="748"
                      height="610"
                    >
                  </div>
                {% endfor %}
              </div>
              <!-- Pagination -->
              <div class="swiper-pagination"></div>

              <!-- Navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="product__info">
            <h3>{{ product.category | escape }}</h3>
            <h2>{{ product.title | escape }}</h2>
            <p class="price">{{ product.price | money }}</p>
            <div class="desc">{{ product.content }}</div>
          </div>
          {% render 'variant-options', product: product %}
          {% render 'quantity-input',
            product: product,
            total_inventory: total_inventory,
            section: section,
            product_form_id: product_form_id
          %}
          {% render 'product-form',
            product: product,
            section: section,
            product_form_id: product_form_id,
            total_inventory: total_inventory
          %}
        </div>
      </div>
    </div>
  </div>

  <script src="{{ 'swiper-bundle.min.js' | asset_url }}" async></script>
  <script>
    window.addEventListener('load', function () {
      const mainSwiper = new Swiper('.product-swiper--main', {
        direction: 'horizontal',
        loop: true,
        autoPlay: true,
        pagination: {
          el: '.product-swiper--main .swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.product-swiper--main .swiper-button-next',
          prevEl: '.product-swiper--main .swiper-button-prev',
        },
        thumbs: {
          swiper: '.product-swiper--support', // Link the support swiper as thumbs
        },
      });
      const supportSwiper = new Swiper('.product-swiper--support', {
        direction: 'vertical',
        loop: true,
        slidesPerView: 3, // show 3 slides
        spaceBetween: 20,
        watchSlidesProgress: true,
        slideToClickedSlide: true,
        autoPlay: true,
        navigation: {
          nextEl: '.product-swiper--support .swiper-button-next',
          prevEl: '.product-swiper--support .swiper-button-prev',
        },
        pagination: {
          el: '.product-swiper--support .swiper-pagination',
          clickable: true,
        },
      });
    });
  </script>
</section>

{% schema %}
{
  "name": "Main Product",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 40
    },
    {
      "type": "checkbox",
      "id": "show_ad",
      "label": "Show advertisement"
    },
    {
      "type": "image_picker",
      "id": "image_ad",
      "label": "Advertisement",
      "info": "Recommended image size: 748x610px"
    }
  ]
}
{% endschema %}
