{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  class="main-product-wrapper section-{{ section.id }} section-{{ section.id }}-padding"
  id="{{section.id}}"
>
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  {%- assign product_description_limit = 225 -%}

  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="product__gallery"></div>
        </div>
        <div class="col-12 col-md-4">
          <div class="product__info">
            <h3>{{ product.category | escape }}</h3>
            <h2>{{ product.title | escape }}</h2>
            <p class="price">{{ product.price | money }}</p>
            <div class="desc">{{ product.content }}</div>
            <div class="varients">
              {%- unless product.has_only_default_variant -%}
                {%- for option in product.options_with_values -%}
                  <div class="wrapper">
                    <p class="option-title option-title--{{ option.name | escape }}">
                      <strong>{{ option.name }}</strong>
                    </p>
                    <div class="varients__{{option.name | downcase | escape}}">
                      {%- for filter_value in option.values -%}
                        <button
                          class=" button button--outline{% if filter_value.active %} active {% endif %}"
                          id="swatch-{{filter_value.name | append: '-' | append: product.id | escape}}"
                          value="{{ filter_value.name }}"
                          name="{{ filter_value.name }}"
                        >
                          <span>{{ filter_value.name }}</span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                {%- endfor -%}
              {%- endunless -%}
            </div>
            <div class="quantity-wrapper">
              <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}">
                <button class="quantity__button" name="minus" type="button">
                  <span class="visually-hidden">
                    {{ product.title | escape }}
                  </span>
                  <span class="svg-wrapper">
                    {{- 'icon-minus.svg' | inline_asset_content -}}
                  </span>
                </button>
                <input
                  class="quantity__input"
                  type="number"
                  name="quantity"
                  id="Quantity-{{ section.id }}"
                  data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                  min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                  {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                    data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                  {% endif %}
                  step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                  value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                  form="{{ product_form_id }}"
                >
                <button class="quantity__button" name="plus" type="button">
                  <span class="visually-hidden">
                    {{ product.title | escape }}
                  </span>
                  <span class="svg-wrapper">
                    {{- 'icon-plus.svg' | inline_asset_content -}}
                  </span>
                </button>
              </quantity-input>
              <div class="stock">
                <p>Stock</p>
                <span class="sep"></span>
                <p>125 Available</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main Product",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 40
    },
    {
      "type": "checkbox",
      "id": "show_ad",
      "label": "Show advertisement"
    },
    {
      "type": "image_picker",
      "id": "image_ad",
      "label": "Advertisement",
      "info": "Recommended image size: 748x610px"
    }
  ]
}
{% endschema %}
