{%- style -%}
  /* Padding Settings */
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    /* /Padding Settings */
{%- endstyle -%}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<section
  class="main-product-wrapper section-{{ section.id }} section-{{ section.id }}-padding"
  id="{{section.id}}"
>
  {%- assign product_form_id = 'product-form-' | append: section.id -%}

  {% assign total_inventory = 0 %}
  {% for variant in product.variants %}
    {% assign total_inventory = total_inventory | plus: variant.inventory_quantity %}
  {% endfor %}

  {% assign variant_images = product.images | map: 'src' %}

  {%- liquid
    assign desktop_media_gallery_width = 'col-xl-7'
    assign desktop_media_carousel_width = 'col-xl-5'

    case section.settings.desktop_media_width
      when 'small'
        assign desktop_media_gallery_width = 'col-xl-6'
        assign desktop_media_carousel_width = 'col-xl-6'
      when 'medium'
        assign desktop_media_gallery_width = 'col-xl-7'
        assign desktop_media_carousel_width = 'col-xl-5'
      when 'large'
        assign desktop_media_gallery_width = 'col-xl-8'
        assign desktop_media_carousel_width = 'col-xl-4'
    endcase
  -%}

  <div class="product">
    <div class="container">
      <div class="row flex-column {{ section.settings.media_position }}">
        <div class="col-12 {{desktop_media_gallery_width}}">
          {% render 'product-media-gallery',
            gallery_layout: section.settings.gallery_layout,
            product_images: variant_images,
            desktop_thumbnail_carousel_position_class: section.settings.desktop_thumbnail_carousel_position
          %}
        </div>
        <div class="col-12 {{desktop_media_carousel_width}}">
          <div class="product-options-wrapper">
            <div class="product-options-group">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'type' -%}
                    <h3>{{ product.type }}</h3>
                  {%- when 'title' -%}
                    <h2>{{ product.title | escape }}</h2>
                  {%- when 'price' -%}
                    <p class="price">{{ product.price | money }}</p>
                  {%- when 'description' -%}
                    <div class="desc">
                      {{ product.content | truncatewords: 43 }}
                    </div>
                  {%- when 'variant_options' -%}
                    {% render 'variant-options', product: product %}
                  {%- when 'quantity_input' -%}
                    {% render 'quantity-input',
                      product: product,
                      total_inventory: total_inventory,
                      section: section,
                      product_form_id: product_form_id
                    %}
                  {%- when 'product_form' -%}
                    {% render 'product-form',
                      product: product,
                      section: section,
                      product_form_id: product_form_id,
                      total_inventory: total_inventory
                    %}
                {%- endcase -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ 'swiper-bundle.min.js' | asset_url }}" async></script>
  <script>
    function updateSwiperHeightOnImagesLoad(swiperEl, swiperInstance) {
      const images = swiperEl.querySelectorAll('img');
      let loadedCount = 0;

      images.forEach((img) => {
        if (img.complete) {
          loadedCount++;
        } else {
          img.addEventListener('load', () => {
            loadedCount++;
            if (loadedCount === images.length) {
              swiperInstance.update();
            }
          });
        }
      });

      // All were already loaded
      if (loadedCount === images.length) {
        swiperInstance.update();
      }
    }

    function initProductMediaSwipers() {
      const wrapper = document.querySelector('.product-swiper--support');
      const thumbnailPosition = wrapper?.dataset.thumbnailPosition || 'left';
      // Set Swiper direction based on the setting
      const isVertical = thumbnailPosition === 'left' || thumbnailPosition === 'right';

      // swiper initializations
      const supportSwiper = new Swiper('.product-swiper--support', {
        loop: true,
        autoPlay: true,
        direction: 'horizontal',
        slidesPerView: 4,
        spaceBetween: 20,
        watchSlidesProgress: true,
        slideToClickedSlide: true,
        navigation: {
          nextEl: '.product-swiper--support .slider-controller__next-button',
        },
        pagination: {
          el: '.product-swiper--support .swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          1198: {
            direction: isVertical ? 'vertical' : 'horizontal',
            slidesPerView: isVertical ? 3 : 5, // show 3 slides
          },
        },
      });
      const mainSwiper = new Swiper('.product-swiper--main', {
        loop: true,
        autoPlay: true,
        pagination: {
          el: '.product-swiper--main .swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.product-swiper--main .slider-controller__next-button',
          prevEl: '.product-swiper--main .slider-controller__prev-button',
        },
        thumbs: {
          swiper: supportSwiper, // Link the support swiper as thumbs
        },
      });

      updateSwiperHeightOnImagesLoad(document.querySelector('.product-swiper--main'), mainSwiper);
    }

    document.addEventListener('DOMContentLoaded', function () {
      initProductMediaSwipers();
    });

    document.addEventListener('shopify:section:load', function () {
      initProductMediaSwipers();
    });
  </script>
</section>

{% schema %}
{
  "name": "Main Product",
  "blocks": [
    {
      "type": "type",
      "name": "Type",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "variant_options",
      "name": "Variant Options",
      "limit": 1
    },
    {
      "type": "quantity_input",
      "name": "Quantity Input",
      "limit": 1
    },
    {
      "type": "product_form",
      "name": "Product Form",
      "limit": 1
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "Desktop Media Position",
      "info": "Position is automatically optimized for mobile",
      "options": [
        {
          "value": "flex-xl-row",
          "label": "Left"
        },
        {
          "value": "flex-xl-row-reverse",
          "label": "Right"
        }
      ],
      "default": "flex-xl-row"
    },
    {
      "type": "select",
      "id": "desktop_media_width",
      "label": "Desktop Media Width",
      "info": "Media is automatically optimized for mobile.",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "desktop_thumbnail_carousel_position",
      "label": "Desktop Carousel Position",
      "info": "Carousel is positioned bottom for mobile.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "left"
    },
    {
      "label": "Desktop layout",
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "thumbnail_slider",
          "label": "Thumbnail Slider"
        },
        {
          "value": "stacked",
          "label": "Stacked"
        },
        {
          "value": "columns",
          "label": "Columns"
        },
        {
          "value": "thumbnails",
          "label": "Thumbnails"
        }
      ],
      "default": "thumbnail_slider"
    }
  ],
  "presets": [
    {
      "name": "Default",
      "blocks": [
        {
          "type": "type"
        },
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "description"
        },
        {
          "type": "variant_options"
        },
        {
          "type": "quantity_input"
        },
        {
          "type": "product_form"
        }
      ]
    }
  ]
}
{% endschema %}
